
<div class="register-container">
    <h2>New User Registation Form</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput formControlName="userName" placeholder="Enter your username">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullName" placeholder="Enter your full name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Enter your email">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" placeholder="Enter your phone number">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Date of Birth</mat-label>
            <input matInput formControlName="dateOfBirth" placeholder="Enter your date of birth" type="date">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="Enter your password" type="password">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Register</button>

    </form>
</div>