<mat-sidenav-container class="example-container">
    <!-- LHS Sidebar -->
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="emi-calculator" routerLinkActive="active">Calculate SIP</a>
        <a mat-list-item routerLink="sip-calculator" routerLinkActive="active">Calculate EMI</a>
        <a mat-list-item routerLink="currency-convertor" routerLinkAcNtive="active">Currency Conversion</a>
        <a mat-list-item routerLink="holiday-calendar" routerLinkActive="active">See Holidays</a>
        <a mat-list-item routerLink="test" routerLinkActive="active">Test</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- RHS Content -->
    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  