<div class="body-content">
  <router-outlet></router-outlet>

<!-- <div class="app-container">
  <app-sidebar (menuSelect)="onMenuSelect($event)"></app-sidebar> 
   <div class="content">
    <app-dashboard *ngIf="selectedPage === 'Dashboard'"></app-dashboard>
    <app-transaction-form *ngIf="selectedPage === 'Transaction'"></app-transaction-form>
    <div *ngIf="selectedPage !== 'Dashboard' && selectedPage !== 'Transaction'" class="coming-soon">
      <p>Feature "{{ selectedPage }}" will be implemented later.</p>
    </div>
  </div> 
</div>  -->
</div>

    <!-- <app-expense-chart></app-expense-chart> -->
