 
 <div class="switch-container">
  <mat-button-toggle-group [(ngModel)]="selectedPage" name="pageSwitch" appearance="legacy">
    <mat-button-toggle value="transaction">Transaction</mat-button-toggle>
    <mat-button-toggle value="income">Income</mat-button-toggle>
  </mat-button-toggle-group>
</div>

 <form *ngIf="selectedPage === 'transaction'"
  [formGroup]="transactionForm" (ngSubmit)="submit()" class="transaction-form">

  <div class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Amount Spent</mat-label>
      <input matInput type="number" formControlName="txnAmount" placeholder="Enter amount" />
      <mat-error *ngIf="transactionForm.get('txnAmount')?.hasError('required')">
        Amount is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type of Expense</mat-label>
      <mat-select formControlName="expenseCategory" placeholder="Select expense type">
        <mat-option *ngFor="let type of expenseTypes" [value]="type">{{ type }}</mat-option>
      </mat-select>
      <mat-error *ngIf="transactionForm.get('expenseCategory')?.hasError('required')">
        Expense type is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" placeholder="Enter short description" />
      <mat-error *ngIf="transactionForm.get('description')?.hasError('required')">
        Description is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date of Expense</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfExpense" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="btn-container">
    <button mat-raised-button color="primary" type="submit" [disabled]="transactionForm.invalid">
      Add Expense
    </button>
  </div>
</form> 
<mat-card *ngIf="selectedPage === 'income'" class="form-card" >
  <!-- <mat-card-title>Add Income</mat-card-title> -->
  <mat-card-content>
    <form [formGroup]="incomeForm" (ngSubmit)="submit()" class="income-form">

      <div class="form-row">
        <!-- Amount -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Amount</mat-label>
          <input matInput type="number" formControlName="amount" placeholder="Enter amount" />
          <mat-error *ngIf="incomeForm.get('amount')?.hasError('required')">
            Amount is required
          </mat-error>
          <mat-error *ngIf="incomeForm.get('amount')?.hasError('min')">
            Must be greater than 0
          </mat-error>
        </mat-form-field>

        <!-- Source -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Source</mat-label>
          <mat-select formControlName="source">
            <mat-option *ngFor="let source of incomeSources" [value]="source">{{ source }}</mat-option>
          </mat-select>
          <mat-error *ngIf="incomeForm.get('source')?.hasError('required')">
            Source is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        
        <!-- Description -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" placeholder="Optional"></textarea>
        </mat-form-field>
        <!-- Income Date -->
        <mat-form-field  appearance="outline" class="form-field income-date-field">
          <mat-label>Income Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="incomeDate" placeholder="Select date" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="incomeForm.get('incomeDate')?.hasError('required')">
            Date is required
          </mat-error>
        </mat-form-field>

      </div>

      <div class="btn-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="incomeForm.invalid">
          Submit
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>

